<div class="container">
<div class="page-header">

<h1>Listing Tasks</h1>

<h4>Description</h4>

<% @tasks.each do |task| %>
<p><%= task.description %>
<u><%= link_to "Show", task_path(task) %></u>
|
<u><%= link_to "Edit", edit_task_path(task) %></u>
|
<u><%= link_to "Destroy", task_path(task), method: "delete" %></u></p>
<% end %>

<u><%= link_to "New Task", new_task_path %></u>

</div>
</div>
