<div class="container">
  <div class="page-header">

    <%= link_to "New Task", new_task_path, class: "btn btn-info pull-right" %>
    <h1>Tasks</h1>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th class="col-md-4">Description</th>
          <th class="col-md-3">Due On</th>
          <th class="col-md-5"></th>
        </tr>
      </thead>

      <% @tasks.each do |task| %>
      <tr>

        <td class="col-md-3">
          <% if task.complete == true %>
          <s><%= link_to task.description, task_path(task) %></s>
          <% else %>
          <%= link_to task.description, task_path(task) %>
          <% end %>
        </td>

        <td class="col-md-4">
          <% if task.due_date %>
          <%= task.due_date.strftime("%_m/%d/%Y") %>
          <% end %>
        </td>

        <td class="col-md-5">
          <div class="pull-right">
            <%= link_to "Edit", edit_task_path(task), class: "btn btn-info" %>
            <%= link_to "Delete", task_path(task), method: "delete", class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
