<div class="container">
<div class="page-header">

<h1>New Task</h1>
<%= form_for @task do |f| %>

<p><div><%= f.label :description %></div>
<div><%= f.text_field :description %></div></p>


<p><%= f.submit "Create Task" %></p>

<p><u><%= link_to "Back", tasks_path %><u></p>

<% end %>


</div>
</div>
