<h1><%= header %></h1>
<hr>

<%= render partial: "shared/errors", locals:{shared_errors: @user} %>


<%= form_for @user, html: {class: "form-horizontal"} do |f| %>

<div class="form-group">
  <%= f.label :first_name, "First Name", class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :last_name, "Last Name", class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :email, class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.email_field :email, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password, class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.password_field :password, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :password_confirmation, "Password Confirmation", class: "col-md-2 control-label" %>
  <div class="col-md-4">
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :pivitol_tracker_token, "Pivtal Tracker Token", class: "col-md-2 control-label"  %>
  <div class="col-md-4">
    <%= f.text_field :pivitol_tracker_token, class: "form-control" %>
  </div>
</div>

<% if current_user.admin == true %>
<div class ="form-group">
  <div class ="col-sm-offset-2 col-sm-10">
    <%= f.check_box :admin %>
    <%= f.label :admin %>
  </div>
</div>
<% end %>

<div class="form-group">
  <div class="col-md-offset-2 col-md-3">
    <%= f.submit name_of_button, class: "btn btn-primary" %>
    <%= link_to "Cancel", users_path, class: "btn btn-default" %>
  </div>
</div>

<% if @user %>
<div class="form-group">
  <div class="col-md-offset-2 col-md-4 text-center">
    <div class="well">
      <%= link_to "Delete", @user, method: "delete", class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
<% end %>

<% end %>
