<div class="container">
  <div class="page-header">

    <% if current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_path, class: "btn btn-info pull-right" %>
    <% end %>
    <h1> <%= @user.first_name + " " + @user.last_name %> </h1>
    <hr>

    <%= form_for @user, html: { class: "form-horizontal" } do |f| %>


    <div class="dl-horizontal">
      <dt>First Name</dt>
      <dd><%= @user.first_name %></dd>
    </div>

    <div class="dl-horizontal">
      <dt>Last Name</dt>
      <dd><%= @user.last_name %></dd>
    </div>

    <div class="dl-horizontal">
      <% if current_user.id == @user.id %>
      <dt><%= "Email" %></dt>
      <dd><%= mail_to @user.email %></dd>
      <% end %>
    </div>

    <% end %>


  </div>
</div>
