<div class="container">

  <div class="jumbotron">
    <h1>The Projects</h1>
    <p>Your life, organized</p>
  </div>

<div class="page-header">

  <div class="row">
    <div class="col-4">
      <%=image_tag("2.jpg", class: "img-responsive")%>
    </div>
    <div class="col-4">
      <%=image_tag("3.jpg", class: "img-responsive")%>
    </div>
    <div class="col-4">
      <%=image_tag("1.jpg", class: "img-responsive")%>
    </div>
  </div>

  <h1></h1>

  <div class="row">
    <div class="col-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          Grouped by projects and
          lists. Just the way you
          like'em
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>
        <div class="panel-body">
          Fine grained permissions
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<!--   <% comments = {cayla: "\"gCamp has changed my life!  It's the best tool I've ever used.\"",
                 cayla_com: " Cayla Hayes",
                 leta: "\"Before gCamp I was a disorderly slob.  Now I'm more organized than I've ever been\"",
                 leta_com: " Leta Jaskolski",
                 lavern: "\"Don't hesitate - sign up right now! You'll never be the same.\"",
                 lavern_com: " Lavern Upton"}

                 cayla_comm = comments[:cayla]
                 cayla_nam = comments[:cayla_com]
                 leta_comm = comments[:leta]
                 leta_nam = comments[:leta_com]
                 lavern_comm = comments[:lavern]
                 lavern_nam = comments[:lavern_com] %>

                 <p><%= cayla_comm  %></p>
                 <em><p><div class="text-muted">&mdash;<%= cayla_nam  %></div></p></em>
                 <p><%= leta_comm   %></p>
                 <em><p><div class="text-muted">&mdash;<%= leta_nam  %></div></p></em>
                 <p><%= lavern_comm %></p>
                 <em><p><div class="text-muted">&mdash;<%= lavern_nam  %></div></p></em> -->


</div>
</div>
