

<h1>Sign In</h1>
<hr>

<%= form_tag signin_path do |f| %>
<br>
<%= label_tag :email %>
<%= email_field_tag :email %>
<br>
<%= label_tag :password %>
<%= password_field_tag :password %>
<br>
<%= submit_tag "Sign In" %>

<% end %>
