<h1> <%= header %> </h1>
<hr>

<%= render partial: "shared/errors", locals:{shared_errors: @project} %>

<%= form_for @project, html: { class: "form-horizontal" } do |f| %>

<div class="form-group">
  <%= f.label :name, "Name", class: "col-md-2 control-label" %>
  <div class="col-md-6">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-2 col-md-3">
    <%= f.submit name_of_button, class: "btn btn-primary" %>
    <%= link_to "Cancel", projects_path, class: "btn btn-default" %>
  </div>
</div>

<% end %>
