<div class="container">
		<p>
          <div class="font12">
            Community Stats:
            <%= "#{pluralize(Project.count, "Project")}, " %>
            <%= "#{pluralize(Task.count, "Task")}, " %>
            <%= "#{pluralize(Membership.count, "Project Member")}, " %>
            <%= "#{pluralize(User.count, "User")}, " %>
            <%= "#{pluralize(Comment.count, "Comment")}" %>
          </div>
        <p>
  <div class="page-header">

    <h1>New Project</h1>
    <hr>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li class="active">New Project</li>
    </ol>

    <%= render "form", {name_of_button: "Create Project"} %>

  </div>
</div>
