<div class="container">
  <div class="page-header">

    <div class="pull-right">
      <%= link_to "Edit", edit_project_path, class: "btn btn-info" %>
      <%= link_to "Delete", @project, method: "delete", class: "btn btn-danger" %>
    </div>

    <h1> <%= @project.name %> </h1>
    <hr>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li class="active"><%= @project.name %></li>
    </ol>

    <% if @project.tasks.any? %>
    <%= link_to pluralize(@project.tasks.count, 'Task'), project_tasks_path(@project) %>
    <% else %>
    <%= link_to '0 Tasks', project_tasks_path(@project) %>
    <% end %>

    <p></p>

    <% if @project.users.any? %>
    <%= link_to pluralize(@project.users.count, 'Membership'), project_memberships_path(@project) %>
    <% else %>
    <%= link_to '0 Memberships', project_memberships_path(@project) %>
    <% end %>

    <p></p>

    <div class="form-group">
      <div class="well">
        <h3>Delete</h3>

        <p>Deleting this project will also delete
        <%= "#{pluralize(@project.memberships.count, "membership" )}," %>
        <%= "#{pluralize(@project.tasks.count, "task" )}" %>
        and associated comments</p>

        <%= link_to "Delete", @project, method: "delete", class: "btn btn-danger" %>
      </div>
    </div>


  </div>
</div>
