<div class="container">
  <div class="page-header">

    <div class="pull-right">
      <%= link_to "Edit", edit_project_path, class: "btn btn-info" %>
    </div>

    <h1><%= @project.name %></h1>
    <hr>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li class="active"><%= @project.name %></li>
    </ol>


    <p><%= link_to pluralize(@project.tasks.count, 'Task'), project_tasks_path(@project) %></p>
    <p><%= link_to pluralize(@project.users.count, 'Membership'), project_memberships_path(@project) %></p>


    <p></p>

    <div class="form-group">
      <div class="well">
        <h3>Delete</h3>

        <p>Deleting this project will also delete
        <%= "#{pluralize(@project.memberships.count, "membership" )}," %>
        <%= "#{pluralize(@project.tasks.count, "task" )}" %>
        and associated comments</p>

        <%= link_to "Delete", @project, method: "delete", class: "btn btn-danger", data: { confirm: "Are you sure?"} %>
      </div>
    </div>


  </div>
</div>
