<div class="container">
  <div class="page-header">
    <% @count = 89 %>

    <div class="pull-right">
      <%= "(showing first #{@count})" %>
    </div>
    <h1> <%= "Stories for" %> <%= @tracker_projects[0][:name] %></h1>
    <hr>


    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-6">Story</th>
          <th class="col-md-2">Estimate</th>
          <th class="col-md-2">Labels</th>
          <th class="col-md-2">Current State</th>
        </tr>
      </thead>

      <tbody>
        <% if current_user.pivitol_tracker_token != nil %>
        <% @tracker_stories.each_with_index do |story, count| %>
        <% break if count == @count %>
        <tr>
          <td class="col-md-6">
            <%= link_to story[:name], story[:url] %>
          </td>

          <td class="col-md-2">
            <% if story[:story_type] == "chore" %>
            <%=  %>
            <% end %>

            <% if story[:story_type] == "feature" %>
            <%= 1 %>
            <% end %>
          </td>

          <td class="col-md-2">
            <%= story[:labels].map { |labels| labels[:name] }.join(', ') %>
          </td>

          <td class="col-md-2">
            <%= story[:current_state] %>
          </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>

    </table>
  </div>
