<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand">gCamp</a>
    </div>
  </nav>

<%= yield %>

<footer>
<hr></hr>


  <div class="row">
    <div class="col-md-9">
      <u><%= link_to "About", about_path %></u>
      |
      <u><%= link_to "Terms", terms_path %></u>
    </div>

    <div class="col-md-3 container-fluid">
      <div class="links-right">
        <%= link_to(image_tag("linkedinlink.jpg", :width => 40, :height => 35), "http://www.linkedin.com") %>
        <%= link_to(image_tag("githublink.png",   :width => 40, :height => 40),  "http://www.github.com") %>
        <%= link_to(image_tag("twitterlink.png",  :width => 40, :height => 40), "http://www.twitter.com") %>
        <%= link_to(image_tag("gschoollink.png",  :width => 40, :height => 40), "http://www.students.gschool.it") %>
      </div>
    </div>

</div>
</footer>




</body>
</html>
