<!DOCTYPE html>
<html>
<head>
  <title>gCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand">gCamp</a>
    </div>
  </nav>

<div class="container">
  <% if flash[:created].present? %>
  <%= flash[:created] %>
  </hr>
  <% end %>

  <% if flash[:updated].present? %>
  <%= flash[:updated] %>
  </hr>
  <% end %>
</div>
  

<%= yield %>


<footer>
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <u><%= link_to "About", about_path %></u>
      |
      <u><%= link_to "Terms", terms_path %></u>
      |
      <u><%= link_to "FAQ", faq_path %></u>
      |
      <u><%= link_to "Tasks", tasks_path %></u>
    </div>

    <div class="col-md-4 container-fluid">
        <%= link_to(image_tag("gschoollink.png", class: "links-right"), "https://students.gschool.it/students/275") %>
        <%= link_to(image_tag("twitterlink.png", class: "links-right"), "http://twitter.com/chaseterzian") %>
        <%= link_to(image_tag("githublink.png", class: "links-right"),  "https://github.com/chaseterzian") %>
        <%= link_to(image_tag("linkedinlink.jpg", class: "links-right"), "https://www.linkedin.com/in/chaseterzian") %>
      </div>
    </div>
  </div>

</div>
</footer>


</body>
</html>
