<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand">gCamp</a>
    </div>
  </nav>

<%= yield %>

<footer>
  <div class="container">
  <hr></hr>

  <u><%= link_to "About", about_path %></u>
  |
  <u><%= link_to "Terms", terms_path %></u>

  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/chase-terzian/b0/88a/7a2" data-format="hover"></script>



  </div>
</footer>


</body>
</html>
