<!DOCTYPE html>
<html>
<head>
  <title>gCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all',
  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render 'shared/navbar' %>

<div class="container">
  <% if flash[:message].present? %>
  <div class="alert alert-success text-center" role="alert"><%= flash[:message] %></div>
  </hr>
  <% end %>
</div>

<div class="container">
  <% if flash[:warning].present? %>
  <div class="alert alert-danger text-center" role="alert"><%= flash[:warning] %></div>
  </hr>
  <% end %>
</div>


<%= yield %>


<footer class="flux">

  <%= render 'shared/footer' %>

</div>
</footer>


</body>
</html>
