<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand">gCamp</a>
    </div>
  </nav>

<%= yield %>

<footer>
<hr></hr>


  <div class="row">
    <div class="col-md-8">
      <u><%= link_to "About", about_path %></u>
      |
      <u><%= link_to "Terms", terms_path %></u>
    </div>

    <div class="col-md-4 container-fluid">
      <div class="links-right">
        <%= link_to(image_tag("linkedinlink.jpg", :width => 32, :height => 28), "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile") %>
        <%= link_to(image_tag("githublink.png",   :width => 30, :height => 30),  "https://github.com/chaseterzian") %>
        <%= link_to(image_tag("twitterlink.png",  :width => 30, :height => 30), "http://twitter.com/chaseterzian") %>
        <%= link_to(image_tag("gschoollink.png",  :width => 25, :height => 32), "https://students.gschool.it") %>
      </div>
    </div>

  </div>
</footer>




</body>
</html>
